---
layout: "base.njk"
cloudinary_url: "https://res.cloudinary.com/vermilion-mandrill/image/upload/v1684183793"
---

<div class="project">
  <h2 class="project__heading">{{ title }}</h2>
  <div class="project__image-wrapper">
      <img class="project__image" src="{{ cloudinary_url }}{{ image }}" alt="{{ imageAlt }}">
  </div>
  <div class="project__content prose">
    {{ content | safe }}
  </div>
</div>