
<section class="recent-news">
  <h2 class="recent-news__heading">Semester 2 concert - Connections</h2>
  <p> The Dunedin Youth Orchestra and Christchurch Youth Orchestra combined forces to present a concert at Dunedin Town Hall in September. As part of a wide-ranging programme DYO Audrey Reid Composition Prize winner, Georgie Palmer, had her piece ‘A Grand Adventure’ premiered, and soloists Ellen Walters (cello) and Rose Stevenson (violin) performed Bruch’s Kol Nidrei and Violin Concerto in G minor. Sopranos Lois Johnson and Courtney Hickmott also presented the premiere performance of Patrick Shepherd’s ‘Maringi noa ngā roimata’. Many thanks to Blair Professor Terence Dennis for his review of the concert. The concert may still be viewed here.


  <!--ul class="recent-news__list">
    <li class="recent-news__item">
      <div class="recent-news__logo">
      <img src="/images/javascript.svg" alt="JavaScript logo">
      </div>
      <h3 class="recent-news__title">JavaScript</h3>
    </li>
    <li class="recent-news__item">
      <div class="recent-news__logo">
      <img src="/images/react.svg" alt="React.js logo">
      </div>
      <h3 class="recent-news__title">React.js</h3>
    </li>
    <li class="recent-news__item">
      <div class="recent-news__logo">
        <img src="/images/tailwindcss.svg" alt="Tailwind CSS logo">
      </div>
      <h3 class="recent-news__title">Tailwind CSS</h3>
    </li>
    <li class="recent-news__item">
      <div class="recent-news__logo">
        <img src="/images/firebase.svg" alt="Firebase logo">
      </div>
      <h3 class="recent-news__title">Firebase</h3>
    </li>
  </ul-->
</section>