---
title: "Dunedin Youth Orchestra"
layout: "base.njk"
---
<!--<script src="https://js.hcaptcha.com/1/api.js" async defer></script>-->
<script>
function createSubject() {
  let subject = "form submission from ";
  document.forms["contact"]["_subject"].value = subject.concat(document.forms["contact"]["name"].value);

}
</script>
<h2 class="heading--main text-center">Ask us anything!</h2>
<p class="contact__sub-heading text-center">Subheading </p>



{#<div class="h-captcha" data-sitekey="4210914d-b8ff-4e63-8eeb-10c4264570e5"></div>#}
<form class="form" enctype="multipart/form-data" id="contact-form" name="contact" action="/success" method="POST" data-netlify="false" onsubmit="return createSubject()" enctype="multipart/form-data">
  <div class="form__section">
    <label class="form__label" for="yourName">Name</label>
    <input class="form__input" name="name" type="text" id="yourName" required="true">
  </div>
  <div class="form__section">
    <label class="form__label" for="yourEmail">Email</label>
    <input class="form__input" name="email" type="email"  id="yourEmail" required="true">
  </div>
  <div class="form__section">
    <label class="form__label" for="message">Message</label>
    <textarea class="form__input" name="message" id="message" rows="4" required="true"></textarea>
    <input accept="image/png, image/jpeg" id="file" name="file" type="file">
  </div>
  
    <button class="form__button" type="submit">Let's talk</button>
    <input type="hidden" name="inbox_key" value="competition">
    <input type="hidden" name="_subject" value="" id="subject">
    </div>
</form>

<script>
// Helper function to get form data in the supported format
function getFormDataString(formEl) {
    var formData = new FormData(formEl),
      data = [];

  for (var keyValue of formData) {
      data.push(encodeURIComponent(keyValue[0]) + "=" + encodeURIComponent(keyValue[1]));
  }

  return data.join("&");
}

// Fetch the form element
var formEl = document.getElementById("contact-form");

// Override the submit event
formEl.addEventListener("submit", function (e) {
    e.preventDefault();

  if (grecaptcha) {
      var recaptchaResponse = grecaptcha.getResponse();
    if (!recaptchaResponse) { // reCAPTCHA not clicked yet
      return false;
    }
  }

  var request = new XMLHttpRequest();

  request.addEventListener("load", function () {
    if (request.status === 302) { // CloudCannon redirects on success
      // It worked
    }
  });

  request.open(formEl.method, formEl.action);
  request.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
  request.send(getFormDataString(formEl));
});
</script>
